.countries-wrapper{
    width: 90%;
    margin: auto auto;
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-between;
    h1{
        width: 90%;
        height: 100vh;
        text-align: center;
        margin: 50vh auto;
        font-size: 48px;
        color: hsl(200, 15%, 8%);
    }
    .list-items{
        width: 250px;
        margin: 0px 0px 50px 0px;
        border-radius: 5px;
        background-color: hsl(0, 0%, 100%);
        box-shadow: 0px 0px 10px rgba(0,0,0,.2);
        // &:hover{
        //     cursor: pointer;
        //     width: 255px;
        //     height: 405;
        // }
            .img-flag{
                width: 250px;
                height: 150px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .items{
                height: 100px;
                margin: 0px auto;
                padding-bottom: 50px;
                 p{
                     padding: 3px 0px 3px 25px;
                }    
                .countries-name{
                    font-size: 18px;
                    font-weight: 700;
                    color:  hsl(200, 15%, 8%);
                    padding-top: 10px;
                    padding-bottom: 10px;
                }      
                span{
                    font-weight: 700;
                    color: lighten( hsl(200, 15%, 8%), 20);
                }
            }
        
   
    }
    
}